Repository flathub-infra/appstream, changes with the labels that .github/labeler.yml gives for each.
All labels: specification, validator, compose, qt, tools, tests

Demote some checks
  src/as-validator.c
Labels: validator

meson: Allow tests to be optional
  meson.build
  meson_options.txt
  tests/meson.build
Labels: tests

asc-compose: Don't process screencasts
  compose/asc-compose.c
Labels: compose

Propagate custom tags
  compose/asc-compose.c
Labels: compose

asc-hint-tags: Silence some vague validation errors during compose
  compose/asc-hint-tags.c
Labels: compose

Disable docs completely
  meson.build
Labels: none

compose: Seperate errors for file-read-error if icon/desktop/metainfo
  compose/asc-compose.c
  compose/asc-hint-tags.c
Labels: compose

Demote some checks
  src/as-validator.c
Labels: validator

asc-hint-tags: Silence some vague validation errors during compose
  compose/asc-hint-tags.c
Labels: compose

Propagate custom tags
  compose/asc-compose.c
Labels: compose

compose: Seperate errors for file-read-error if icon/desktop/metainfo
  compose/asc-compose.c
  compose/asc-hint-tags.c
Labels: compose

meson: Allow tests to be optional
  meson.build
  meson_options.txt
  tests/meson.build
Labels: tests

asc-compose: Don't process screencasts
  compose/asc-compose.c
Labels: compose

Disable docs completely
  meson.build
Labels: none

Propagate custom tags
  compose/asc-compose.c
Labels: compose

validator: Catch more cases of existing, but empty properties
  src/as-validator.c
Labels: validator

asc-compose: Don't process screencasts
  compose/asc-compose.c
Labels: compose

Disable docs completely
  meson.build
Labels: none

Demote some issue tags to info
  src/as-validator-issue-tag.h
Labels: validator

compose: Seperate errors for file-read-error if icon/desktop/metainfo
  compose/asc-compose.c
  compose/asc-hint-tags.c
Labels: compose

asc-hint-tags: Silence some vague validation errors during compose
  compose/asc-hint-tags.c
Labels: compose

meson: Allow tests to be optional
  meson.build
  meson_options.txt
  tests/meson.build
Labels: tests

Promote some checks to error or warning level
  src/as-validator-issue-tag.h
Labels: validator

meson: Allow tests to be optional
  meson.build
  meson_options.txt
  tests/meson.build
Labels: tests

Disable docs completely
  meson.build
Labels: none

Propagate custom tags
  compose/asc-compose.c
Labels: compose

asc-hint-tags: Silence some vague validation errors during compose
  compose/asc-hint-tags.c
Labels: compose

compose: Seperate errors for file-read-error if icon/desktop/metainfo
  compose/asc-compose.c
  compose/asc-hint-tags.c
Labels: compose

Demote some issue tags to info
  src/as-validator-issue-tag.h
Labels: validator

compose: Factor icon and screenshots into final cpt gcid calculation
  compose/asc-compose.c
  compose/asc-utils-screenshots.c
Labels: compose

asc-compose: Don't process screencasts
  compose/asc-compose.c
Labels: compose

Promote some checks to error or warning level
  src/as-validator-issue-tag.h
Labels: validator

Fix Fontconfig 2.18 build
  compose/asc-font.c
Labels: compose

compose: Only add remote icons that were exported to the media dir
  compose/asc-compose.c
Labels: compose

.github/labeler.yml:

core:
- changed-files:
  - any-glob-to-any-file: src/**
  - any-glob-to-any-file: data/**
  - all-globs-to-all-files: '!src/as-validator*'

specification:
- changed-files:
  - any-glob-to-any-file: docs/**

validator:
- changed-files:
  - any-glob-to-any-file: src/as-validator*

compose:
- changed-files:
  - any-glob-to-any-file: compose/**

qt:
- changed-files:
  - any-glob-to-any-file: qt/**

tools:
- changed-files:
  - any-glob-to-any-file: tools/**

tests:
- changed-files:
  - any-glob-to-any-file: tests/**
